:host {
  display: block;
  width: 100%;
  .lighthouse {
    display: none;
  }
  .project-card {
    width: 100%;
    &--portal {
      ::ng-deep {
        .mat-card-image {
          height: 150px;
          object-fit: contain;
        }
      }
    }
  }
}

body {
  &.portal-activated {
    :host {
      display: block;
      width: 100%;
      .lighthouse {
        display: block;
      }
      .project-card {
        z-index: 1000;
        position: absolute;
        max-width: 800px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}


@media all and (max-width: 800px) {
  body {
    &.portal-activated {
      :host {
        .project-card {
          max-width: 95%;
        }
      }
    }
  }
}
