<mat-card
  class="project example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title [routerLink]="['/open-source/' + project.id]" routerLinkActive="router-link-active" >{{project.full_name}}</mat-card-title>
    <mat-card-subtitle>
      <a class="project__link" href="{{project.url}}">{{project.url}}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{project.owner.avatar_url}}" alt="Project avatar url">
  <mat-card-content>
    <p>
      {{project.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="project__actions">
    <button mat-raised-button color="primary" (click)="starProject(project)">{{!project.starred ? 'Star' : 'Starred'}}</button>
  </mat-card-actions>
</mat-card>